<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(BACKGROUND_TASK_IDENTIFIER)</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>FrakturRegular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Приложению необходим доступ к iCloud Drive для синхронизации отчетов между устройствами</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>Приложению необходим доступ к файлам для сохранения отчетов в iCloud Drive</string>
	<key>NSFileProviderPresenceUsageDescription</key>
	<string>Приложению необходим доступ к iCloud Drive для синхронизации отчетов</string>
</dict>
</plist>
